.BasementDoorBGCover{
    background-color: rgba(50,50,50,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.BasementDoorDiv {
    position: absolute;
    width: 40%;
    height: 75%;
    top: 10%;
    left: 25%;
    background-color: grey;
    outline: black solid thin;
}

.BasementDoorTypeElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 40%;
    width: 200px;
    top: 5%;
    font-weight: 600;
}

.BasementDoorTypeButton {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 10%;
    left: 40%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}

.BasementScreenDoorElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 35%;
    width: 200px;
    top: 60%;
    font-weight: 600;
    opacity: 0;
}

.BasementScreenDoorButton {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 65%;
    left: 40%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
    opacity: 0;
}

.BasementDoorThicknessElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 33%;
    width: 200px;
    top: 23%;
    font-weight: 600;
    opacity: 0;
}

.BasementDoorThicknessButton {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 28%;
    left: 40%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
    opacity: 0;
}

.BasementDoorDescriptionElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 31%;
    width: 200px;
    top: 42%;
    font-weight: 600;
    opacity: 0;
}

.BasementDoorDescriptionButton {
    position: absolute;
    width: 500px;
    height: 50px;
    top: 47%;
    left: 5%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
    opacity: 0;
}

.BasementDoorUValueElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 5%;
    width: 300px;
    top: 79%;
    font-weight: 600;
    opacity: 0;
}

.BasementDoorUValueBox {
    position: absolute;
    width: 60px;
    height: 25px;
    top: 84%;
    left: 20%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
    background-color: white;
    opacity: 0;
}

.SaveBasementDoorDataButton{
    position: absolute;
    width: 180px;
    height: 50px;
    top: 84%;
    left: 60%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}