.BasementWallBGCover{
    background-color: rgba(50,50,50,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.BasementWallDiv {
    position: absolute;
    width: 40%;
    height: 75%;
    top: 10%;
    left: 25%;
    background-color: grey;
    outline: black solid thin;
}