/*This is a CSS Stylesheet that affects the way the Door Popover appears and acts*/

.DoorBGCover{
    background-color: rgba(50,50,50,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.DoorDiv {
    position: absolute;
    width: 40%;
    height: 75%;
    top: 10%;
    left: 25%;
    background-color: grey;
    outline: black solid thin;
}

.DoorTypeElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 40%;
    width: 200px;
    top: 5%;
    font-weight: 600;
}

.DoorTypeButton {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 10%;
    left: 40%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}

.ScreenDoorElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 35%;
    width: 200px;
    top: 60%;
    font-weight: 600;
    opacity: 0;
}

.ScreenDoorButton {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 65%;
    left: 40%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
    opacity: 0;
}

.DoorThicknessElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 33%;
    width: 200px;
    top: 23%;
    font-weight: 600;
    opacity: 0;
}

.DoorThicknessButton {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 28%;
    left: 40%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
    opacity: 0;
}

.DoorDescriptionElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 31%;
    width: 200px;
    top: 42%;
    font-weight: 600;
    opacity: 0;
}

.DoorDescriptionButton {
    position: absolute;
    width: 500px;
    height: 50px;
    top: 47%;
    left: 5%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
    opacity: 0;
}

.DoorUValueElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 5%;
    width: 300px;
    top: 79%;
    font-weight: 600;
    opacity: 0;
}

.DoorUValueBox {
    position: absolute;
    width: 60px;
    height: 25px;
    top: 84%;
    left: 20%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
    background-color: white;
    opacity: 0;
}

.DoorSaveButton{
    position: absolute;
    width: 90px;
    height: 30px;
    top: 84%;
    left: 60%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}

.DoorCancelButton{
    position: absolute;
    width: 90px;
    height: 30px;
    top: 84%;
    left: 80%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}