.BackgroundCover{
    background-color: rgba(50,50,50,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.TopAndBottomDataDiv {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 8%;
    left: 5%;
    background-color: grey;
    outline: black solid thin;
}

.SaveDataButton {
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 1%;
    left: 39%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}

.AtticTitle {
    position: absolute;
    color: black;
    font-size: 30px;
    left: 14%;
    width: 225px;
    text-align: center;
    font-weight: 700;
    outline: black solid thin;
}

.StudSpacingElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 16%;
    width: 200px;
    top: 13%;
    font-weight: 600;
}

.StudSpacingButton {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 17%;
    left: 15%;
    font-size: 20px;
    outline: black solid thin;
}

.StudHeightElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 17%;
    width: 200px;
    top: 27%;
    font-weight: 600;
}

.StudHeightButton {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 31%;
    left: 15%;
    font-size: 20px;
    outline: black solid thin;
}

.StudWidthElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 17%;
    width: 200px;
    top: 41%;
    font-weight: 600;
}

.StudWidthButton {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 45%;
    left: 15%;
    font-size: 20px;
    outline: black solid thin;
}

.AtticInsulationElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 17%;
    width: 200px;
    top: 55%;
    font-weight: 600;
}

.AtticInsulationButton {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 59%;
    left: 15%;
    font-size: 20px;
    outline: black solid thin;
}

.AtticInsulationDepthElement {
    position: absolute;
    color: black;
    font-size: 18px;
    left: 15.5%;
    width: 200px;
    top: 69%;
    font-weight: 600;
}

.AtticInsulationDepthButton {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 73%;
    left: 15%;
    font-size: 20px;
    outline: black solid thin;
}

.TotalAtticUValueElement{
    position: absolute;
    color: black;
    font-size: 18px;
    left: 41.5%;
    width: 200px;
    top: 30%;
    font-weight: 600;
}

.TotalAtticUValueText{
    position: absolute;
    color: black;
    font-size: 18px;
    left: 43%;
    width: 100px;
    top: 35%;
    font-weight: 600;
}

.TotalBasementUValueElement{
    position: absolute;
    color: black;
    font-size: 18px;
    left: 40%;
    width: 200px;
    top: 60%;
    font-weight: 600;
}

.TotalBasementUValueText{
    position: absolute;
    color: black;
    font-size: 18px;
    left: 43%;
    width: 100px;
    top: 65%;
    font-weight: 600;
}

.BasementTitle {
    position: absolute;
    color: black;
    font-size: 30px;
    text-align: center;
    left: 60%;
    width: 290px;
    font-weight: 700;
    outline: black solid thin;
}

.BasementCeilingButton {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 15%;
    right: 20%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}

.BasementFloorButton {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 30%;
    right: 20%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}

.BasementWallButton {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 45%;
    right: 20%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}

.BasementWindowButton {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 60%;
    right: 20%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}

.BasementDoorButton {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 75%;
    right: 20%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}