/**
This is a CSS Stylesheet that affects the way the Project Editor tab appears and acts.
 */

.ProjectEditor_mainDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.ProjectEditor_TopBar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background: rgb(128, 112, 214);
    display: flex;

    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.ProjectEditor_MainContent {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 100%;
    height: calc(100% - 30px);
}