/**
This is a CSS Stylesheet that affects the way the Simulator tab appears and acts.
 */

.Simulator_Increase_Density_Button {
    position: absolute;
    left: 100px;
    top: 5px;
    width: 25px;
    font-size: 15px;
}

.Simulator_Decrease_Density_Button {
    position: absolute;
    left: 130px;
    top: 5px;
    width: 25px;
    font-size: 15px;
}

.Simulator_Increase_Speed_Button {
    position: absolute;
    left: 5px;
    top: 65px;
    width: 25px;
    font-size: 15px;
}

.Simulator_Decrease_Speed_Button {
    position: absolute;
    left: 35px;
    top: 65px;
    width: 25px;
    font-size: 15px;
}

.Simulator_Hot_Button {
    position: absolute;
    left: 115px;
    top: 95px;
    width: 50px;
    font-size: 15px;
}

.Simulator_Cold_Button {
    position: absolute;
    left: 170px;
    top: 95px;
    width: 50px;
    font-size: 15px;
}

.Simulator_Inside_Hot_Button {
    position: absolute;
    left: 115px;
    top: 125px;
    width: 50px;
    font-size: 15px;
}

.Simulator_Inside_Cold_Button {
    position: absolute;
    left: 170px;
    top: 125px;
    width: 50px;
    font-size: 15px;
}

.Simulator_Vent_Hot_Button {
    position: absolute;
    left: 115px;
    top: 155px;
    width: 50px;
    font-size: 15px;
}

.Simulator_Vent_Cold_Button {
    position: absolute;
    left: 170px;
    top: 155px;
    width: 50px;
    font-size: 15px;
}