/**
This is a CSS Stylesheet that affects the way the Building Picker appears and acts.
 */

.BuildingPicker_Main_Div {
    width: 300px;
    height: 400px;
    border: black 1px solid;
    border-radius:10px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.BuildingPicker_Title {
    width: 100%;
    font-size: 32px;
    text-align: center;
}

.BuildingPicker_Building_Container {
    flex: 1;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-top: solid 1px black;
    overflow-y: scroll;
}

.BuildingPicker_Building_Row {
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.BuildingPicker_Building_Row.selected {
    background-color: #9ad5ff;
}

.BuildingPicker_Bottom_Bar {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.BuildingPicker_Add_Button {
    float: left;
    margin-left: 2px;
}

.BuildingPicker_Edit_Name_Button {
    position: absolute;
    top: 0px;
    left: calc(50% - 41px);
    width: 84px;
}

.BuildingPicker_Remove_Button {
    float: right;
    margin-right: 2px;
}
.BuildingPicker_TopButtons {
    position: relative;
    width: 100%;
    height: 17px;
}
.BuildingPicker_BottomButtons {
    position: relative;
    width: 100%;
    height: 17px;
    margin-top: 2px;
}
.BuildingPicker_Load_Button {
    position: absolute;
    left: calc(33% - 50px);
    width: 100px;
}
.BuildingPicker_Save_Button {
    position: absolute;
    right: calc(33% - 50px);
    width: 100px;
}