html {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;

    background-color: #434343;
    background-image:linear-gradient(#434343, #282828);
}
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;

    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height:100%;
    background-size:50px 50px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}
.WebGLCanvas {
    position: absolute;
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    background-color: white;
}
.TopTitle {
    position: absolute;
    color: black;
    font-size: 20px;
    text-align: center;
    left: 0px;
    width: 100%;
    font-weight: 700;
    text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}
.RibbonBanner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 13%;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d7e0+0,9db6c6+100 */
    background: #c9d7e0; /* Old browsers */
}

.SecondRibbonBanner{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 31px;
    border-bottom-color: #9c8cf2;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d7e0+0,9db6c6+100 */
    background: #9c8cf2; /* Old browsers */
}
.LayoutCanvas {
    position: absolute;
    width: 100%;
    height: calc(100% - 150px);
    top: 150px;
    left: 0px;
}
.BuildingDropDown {
    position: absolute;
    top: 30px;
    width: 100px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}
.DragButtonDiv {
    position: absolute;
    top: 25%;
    width: 100px;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    border: #c9d7e0;
}
.CreateButtonDiv {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 7.5%;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    border: #c9d7e0;
}
.ViewButtonDiv {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 15%;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    border: #c9d7e0;
}
.ViewMode2DButtonDiv {
    position: absolute;
    width: 100px;
    bottom: 0%;
    left: 11.5%;
    height: 30px;
    background: #9c8cf2;
    text-align: center;
    font-size: 12px;
    border: #9c8cf2;
    opacity: 0;
}
.ViewMode3DButtonDiv {
    position: absolute;
    width: 100px;
    bottom: 0%;
    left: 19%;
    height: 30px;
    background: #9c8cf2;
    text-align: center;
    font-size: 12px;
    border: #9c8cf2;
    opacity: 0;
}
.EditButtonDiv {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 22.5%;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    border: #c9d7e0;
}
.EditPointButtonDiv {
    position: absolute;
    width: 100px;
    bottom: 0%;
    left: 19%;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 12px;
    border: #c9d7e0;
    opacity: 0;
}
.EditCornerButtonDiv {
    position: absolute;
    width: 100px;
    bottom: 0%;
    left: 26.5%;
    height: 30px;
    background: #9c8cf2;
    text-align: center;
    font-size: 12px;
    border: #9c8cf2;
    opacity: 0;
}
.DeleteButtonDiv {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 30%;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    border: #c9d7e0;
}
.StartOverButton {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 37.5%;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    border: #c9d7e0;
}
.LocationDataButton {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 45%;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 12px;
    border: #c9d7e0;
}
.AJsButton {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 52.5%;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    border: #c9d7e0;
}
.RestoreButton {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 60%;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 12px;
    border: #c9d7e0;
}
.selectedButtonDiv {
    background-color: rgba(25, 25, 250, 0.4);
}