html {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;

    background-color: #434343;
    background-image:linear-gradient(#434343, #282828);
}
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;

    background-color: transparent;
    background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height:100%;
    background-size:50px 50px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}
.WebGLCanvas {
    position: absolute;
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    background-color: white;
}
.TopTitle {
    position: absolute;
    color: black;
    font-size: 40px;
    text-align: center;
    left: 0px;
    width: 100%;
    top: 8%;
    font-weight: 700;

    text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}
.RibbonBanner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 15%;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d7e0+0,9db6c6+100 */
    background: #c9d7e0; /* Old browsers */
    background: -moz-linear-gradient(top, #c9d7e0 0%, #9db6c6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c9d7e0 0%,#9db6c6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c9d7e0 0%,#9db6c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.LayoutCanvas {
    position: absolute;
    width: 100%;
    height: calc(100% - 150px);
    top: 150px;
    left: 0px;
}
<<<<<<< HEAD
.BuildingDropDown {
    position: absolute;
    top: 30px;
    width: 100px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}

=======
.DialogBoxButton {
    position: absolute;
    bottom: 30px;
    width: 200px;
    left: calc(50% - 400px - 100px);
    height: 50px;
    background: rgba(25, 25, 25, 0.4);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    outline: black solid thin;
}
.LocationDataButton {
    position: absolute;
    bottom: 30px;
    width: 200px;
    left: calc(50% - 400px + 100px);
    height: 50px;
    background: rgba(25, 25, 25, 0.4);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    outline: black solid thin;
}
.AJsButton {
    position: absolute;
    bottom: 30px;
    width: 200px;
    left: calc(50% - 400px + 300px);
    height: 50px;
    background: rgba(25, 25, 25, 0.4);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    outline: black solid thin;
}
.CreateWallButton {
    position: absolute;
    bottom: 5px;
    width: 150px;
    left: calc(25% - 75px);
}
.EditWallButton {
    position: absolute;
    bottom: 5px;
    width: 150px;
    left: calc(75% - 75px);
}
>>>>>>> origin/master
.DragButtonDiv {
    position: absolute;
    width: 100px;
    height: 30px;
    background: rgba(25, 25, 25, 0.4);
    text-align: center;
    font-size: 14px;
    outline: black solid thin;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.CreateButtonDiv {
    position: absolute;
    width: 100px;
    left: 7.5%;
    height: 30px;
    background: rgba(25, 25, 25, 0.4);
    text-align: center;
    font-size: 14px;
    outline: black solid thin;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ViewButtonDiv {
    position: absolute;
    width: 100px;
    left: 15%;
    height: 30px;
    background: rgba(25, 25, 25, 0.4);
    text-align: center;
    font-size: 14px;
    outline: black solid thin;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.EditButtonDiv {
    position: absolute;
    width: 100px;
    left: 22.5%;
    height: 30px;
    background: rgba(25, 25, 25, 0.4);
    text-align: center;
    font-size: 14px;
    outline: black solid thin;
    font-family: Helvetica;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.EditPointButtonDiv {
    position: absolute;
    width: 100px;
    top: 5%;
    left: 22.5%;
    height: 30px;
    background: rgba(25, 25, 25, 0.4);
    text-align: center;
    font-size: 12px;
    outline: black solid thin;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.EditCornerButtonDiv {
    position: absolute;
    width: 100px;
    top: 10%;
    left: 22.5%;
    height: 30px;
    background: rgba(25, 25, 25, 0.4);
    text-align: center;
    font-size: 12px;
    outline: black solid thin;
    cursor: pointer;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.DeleteButtonDiv {
    position: absolute;
    width: 100px;
    left: 30%;
    height: 30px;
    background: rgba(25, 25, 25, 0.4);
    text-align: center;
    font-size: 14px;
    outline: black solid thin;
    cursor: pointer;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.StartOverButton {
    position: absolute;
    width: 100px;
    left: 37.5%;
    height: 30px;
    background: rgba(25, 25, 25, 0.4);
    text-align: center;
    font-size: 14px;
    outline: black solid thin;
}
.LocationDataButton {
    position: absolute;
    width: 100px;
    left: 45%;
    height: 30px;
    background: rgba(25, 25, 25, 0.4);
    text-align: center;
    font-size: 12px;
    outline: black solid thin;
}
.AJsButton {
    position: absolute;
    width: 100px;
    left: 52.5%;
    height: 30px;
    background: rgba(25, 25, 25, 0.4);
    text-align: center;
    font-size: 14px;
    outline: black solid thin;
}
.selectedButtonDiv {
    background-color: rgba(25, 25, 250, 0.4);
}