/**
This is a CSS Stylesheet that affects the way the Main HVAC Application appears and acts
 */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    margin: 0px;

}

.ApplicationBackground1 {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: #434343;
    background-image:linear-gradient(#434343, #282828);
}

.ApplicationBackground2 {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    background-size:50px 50px;
}

.ApplicationDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    overflow: none;
}

.WebGLCanvas {
    position: absolute;
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    background-color: white;
}

.TopTitle {
    position: absolute;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 100%;
    font-weight: 700;
    text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}

.RibbonBanner {
    position: absolute;
    width: 100%;
    height: 80px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d7e0+0,9db6c6+100 */
    background: #c9d7e0; /* Old browsers */
}

.SecondRibbonBanner {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 32px;
    outline: none;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d7e0+0,9db6c6+100 */
    background: #8070D6; /* Old browsers */
}

.LayoutCanvas {
    position: absolute;
    width: 100%;
    height: calc(100% - 82px);
    top: 82px;
}

.BuildingDropDown {
    position: absolute;
    top: 30px;
    width: 100px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}

.WallEditorButtonDiv {
    position: absolute;
    width: 100px;
    top: 20px;
    height: 30px;
    background: #8070D6;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
}

.RoomEditorButtonDiv {
    position: absolute;
    width: 100px;
    top: 20px;
    left: 100px;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
}

.CreateButtonDiv {
    position: absolute;
    width: 100px;
    height: 32px;
    background: #A696FF;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
}

.ViewButtonDiv {
    position: absolute;
    width: 100px;
    top: 20px;
    left: 200px;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
}

.DragButtonDiv {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 140px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}

.RotateButtonDiv {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 200px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}

.ViewMode3DButtonDiv {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 260px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}

.RestoreButton {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 320px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}

.EditButtonDiv {
    position: absolute;
    width: 100px;
    left: 100px;
    height: 32px;
    background: #8070D6;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
}

.EditPointButtonDiv {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 500px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}

.EditCornerButtonDiv {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 560px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}

.deleteMenuDiv {
    position: absolute;
    width: 100px;
    left: 200px;
    height: 32px;
    background: #8070D6;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
}

.DeleteButtonDiv {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 500px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}

.StartOverButton {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 560px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}

.AJsButton {
    position: absolute;
    width: 100px;
    top: 20px;
    right: 100px;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
}

.selectedButtonDiv {
    background-color: rgba(25, 25, 250, 0.4);
}