/*This is a CSS Stylesheet that affects the way the Main HVAC Application appears and acts*/

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    margin: 0px;

}

.HVACApplication_TitleBar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 28px;
    background: #c9d7e0;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 0 0 white, 0 -2px 0 white, 0 2px 0 white, -2px 0 0 white;
}

.HVACApplication_TopBar {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    height: 30px;
    background: #c9d7e0;
    display: flex;

    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.HVACApplication_MainContent {
    position: absolute;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
}

.HVACApplication_WallEditorTab {
    flex: 1;
    line-height: 30px;
    max-width: 100px;
    text-align: center;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    border-right: #b7c2c8 solid 1px;
    border-top: #b7c2c8 solid 1px;
    font-family:Helvetica;
}
.HVACApplication_WallEditorTab.selected {
    background-color: rgb(128, 112, 214);
}
.HVACApplication_RoomEditorTab {
    flex: 1;
    line-height: 30px;
    max-width: 115px;
    text-align: center;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
    border-right: #b7c2c8 solid 1px;
    border-top: #b7c2c8 solid 1px;
    font-family:Helvetica;
}
.HVACApplication_RoomEditorTab.selected {
    background-color: rgb(128, 112, 214);
}
.HVACApplication_ViewEditorTab {
    flex: 1;
    line-height: 30px;
    max-width: 55px;
    text-align: center;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    border-right: #b7c2c8 solid 1px;
    border-top: #b7c2c8 solid 1px;
    font-family:Helvetica;
}
.HVACApplication_ViewEditorTab.selected {
    background-color: rgb(128, 112, 214);
}

.ApplicationBackground1 {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: #434343;
    background-image: linear-gradient(#434343, #282828);

    z-index: -1;

}


.ApplicationBackground2 {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    background-size:50px 50px;

    z-index: -1;
}

.ApplicationDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    overflow: hidden;
}
.WebGLCanvas {
    position: absolute;
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    background-color: white;
}
.TopTitle {
    position: absolute;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 100%;
    font-weight: 700;
    text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}
.RibbonBanner {
    position: absolute;
    width: 100%;
    height: 80px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d7e0+0,9db6c6+100 */
    background: #c9d7e0; /* Old browsers */
}

.SecondRibbonBanner{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 32px;
    outline: none;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d7e0+0,9db6c6+100 */
    background: #8070D6; /* Old browsers */
}
.LayoutCanvas {
    position: absolute;
    width: 100%;
    height: calc(100% - 82px);
    top: 82px;
}
.BuildingDropDown {
    position: absolute;
    top: 30px;
    width: 100px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    outline: black solid thin;
}
.CreateButtonDiv {
    position: absolute;
    width: 100px;
    top: 20px;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
}
.ViewButtonDiv {
    position: absolute;
    width: 100px;
    top: 20px;
    left: 100px;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
}
.DragButtonDiv {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 40px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}
.ViewMode2DButtonDiv {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 100px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}
.ViewMode3DButtonDiv {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 160px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}
.RestoreButton {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 220px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}
.EditButtonDiv {
    position: absolute;
    width: 100px;
    top: 20px;
    left: 200px;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
}
.EditPointButtonDiv {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 190px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}
.EditCornerButtonDiv {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 250px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}
.deleteMenuDiv {
    position: absolute;
    width: 100px;
    top: 20px;
    left: 300px;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
}
.DeleteButtonDiv {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 290px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}
.StartOverButton {
    position: absolute;
    width: 60px;
    height: 32px;
    left: 350px;
    background: #8070D6;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}
.LocationDataButton {
    position: absolute;
    width: 100px;
    top: 20px;
    right: 200px;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
}
.AJsButton {
    position: absolute;
    width: 100px;
    top: 20px;
    right: 100px;
    height: 30px;
    background: #c9d7e0;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: #c9d7e0;
}
.selectedButtonDiv {
    background-color: rgba(25, 25, 250, 0.4);
}