html {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;

    background-color: #434343;
    background-image:linear-gradient(#434343, #282828);
}
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;

    background-color: transparent;
    background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height:100%;
    background-size:50px 50px;
}
.WebGLCanvas {
    position: absolute;
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    background-color: white;
}
.TopTitle {
    position: absolute;
    color: black;
    font-size: 20px;
    text-align: center;
    left: 0px;
    width: 100%;
    top: 10px;

    text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}
.RibbonBanner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 150px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d7e0+0,9db6c6+100 */
    background: #c9d7e0; /* Old browsers */
    background: -moz-linear-gradient(top, #c9d7e0 0%, #9db6c6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c9d7e0 0%,#9db6c6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c9d7e0 0%,#9db6c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9d7e0', endColorstr='#9db6c6',GradientType=0 ); /* IE6-9 */
}
.LayoutCanvas {
    position: absolute;
    width: 100%;
    height: calc(100% - 150px);
    top: 150px;
    left: 0px;
}